/* mixins */
@mixin justify-content($justify-content) {
  -webkit-justify-content: $justify-content;
  justify-content: $justify-content;
}
@mixin flex-direction($flex-direction) {
  -webkit-flex-direction: $flex-direction;
  flex-direction: $flex-direction;
}
@mixin flex-wrap($flex-wrap) {
  -webkit-flex-wrap: $flex-wrap;
  flex-wrap: $flex-wrap;
}
@mixin align-content($flex-start) {
  -webkit-align-content: $flex-start;
  align-content: $flex-start;
}
@mixin align-items($align-items) {
  -webkit-align-items: $align-items;
  align-items: $align-items;
}
@mixin flex-shrink($flex-shrink) {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  transform: $transform;
}
@mixin gradient($gradDirection, $gradStart, $gradEnd) {
  background: -ms-linear-gradient($gradDirection, $gradStart, $gradEnd);
  background: -webkit-linear-gradient($gradDirection, $gradStart, $gradEnd);
  background: -moz-linear-gradient($gradDirection, $gradStart, $gradEnd);
  background: -o-linear-gradient($gradDirection, $gradStart, $gradEnd);
  background: gradient(linear, $gradDirection, $gradStart, $gradEnd);
}
/* mixins-end */

*
{
  padding: 0px;
  margin: 0px;
  line-height: 1.15;
}
body
{
  font-family: Arial;
}
.flex-container
{
  display: flex;
  display: -webkit-flex;
  @include justify-content(space-between);
  @include align-content(flex-start);
  @include align-items(flex-start);
}
/* */
  main
  {
  	width: 960px;
  	margin: 50px auto;
  }

  /* пагинация */
  #Slider-map
  {
  	position: relative;

    .slider-map-point
    {
      position: relative;
      z-index: 2;
      width: 10px;
      font-size: 18px;
      text-align: center;
      color: #a3a3a3;
      background: #f0f0f0;
  	  box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
  	  width: 40px;
  	  height: 40px;
  	  border-radius: 50%;
  	  cursor: pointer;

  	  &:not(:last-child):after, &:not(:first-child):before
  	  {
  	  	content: "";
  	  	background: #f0f0f0;
  	  	height: 10px;
  	  	width: 3px;
  	  	position: absolute;
  	  	top: 0px;
  	  	bottom: 0px;
  	  	right: -1px;
  	  	margin: auto;
  	  }
  	  &:not(:first-child):before
  	  {
  	  	right: auto;
  	  	left: -1px;
  	  }
  	  &:hover
  	  {
  	  	color: #000000;
  	  }

  	  &.active-slide
	  {
	  	cursor: default;
	  	color: #ffffff;

	    .Blue
	    {
	      cursor: default;
	      background: #2870c4;
	      @include gradient(top, #7ea9dc, #2870c4);
		  color: #ffffff;
		}

		.LightBlue
		{
		  background: #4bc9e5;
		  @include gradient(top, #93dfef, #4bc9e5);
		  color: #ffffff;
		}

		.Green
		{
		  background: #47b616;
		  @include gradient(top, #91d373, #47b616);
		  color: #ffffff;
		}

		.Orange
		{
		  background: #ff7d00;
		  @include gradient(top, #ffb166, #ff7d00);
		  color: #ffffff;
		}
	  }

  	  span
  	  {
  	  	display: flex;
  	  	display: -webkit-flex;
  	  	@include justify-content(center);
  	  	@include align-items(center);
  	  	position: absolute;
  	  	top: 0px;
  	  	left: 0px;
  	  	right: 0px;
  	  	bottom: 0px;
  	  	margin: auto;
  	  	width: 32px;
  	  	height: 32px;
  	  	border-radius: 50%;
  	  	transition: 0.3s;
  	  }  
  	}
  }

  #slider-map-bg
  {
  	margin: auto;
  	left: 0px;
  	right: 0px;
  	top: 0px;
  	bottom: 0px;
  	position: absolute;
  	width: 950px;
  	height: 13px;
  	background: #f0f0f0;
  	box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
  }
  /* конец пагинации */

  #slider-wrap
  {
  	position: relative;

  	#prev-slide, #next-slide
  	{
  	  position: absolute;
  	  left: 0px;
  	  top: 0px;
  	  bottom: 0px;
  	  width: 90px;
  	  height: 90px;
  	  margin: auto;
  	  cursor: pointer;
  	  transition: 0.3s;
  	  border-radius: 50%;
  	  border: solid 1px transparent;

  	  &:hover
  	  {
  	  	border: solid 1px #d7d7d7;
  	  }
  	  &:active
  	  {
  	  	background: #f0f0f0;
        box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
  	  }
  	}

  	.arrow-top-line, .arrow-bottom-line
	{
	  transition: 0.3s;
	  position: absolute;
	  top: -29px;
	  left: 0px;
	  right: 0px;
	  bottom: 0px;
	  margin: auto;
	  height: 5px;
  	  width: 45px;
  	  transform: rotate(-45deg);
  	}
  	.arrow-bottom-line
  	{
  	  top: 0px;
  	  bottom: -29px;
  	  transform: rotate(45deg);
  	}

  	.Blue
	{
	  .arrow-top-line, .arrow-bottom-line
	  {
		background: #2870c4;
	  }
	}
	.LightBlue
	{
	  .arrow-top-line, .arrow-bottom-line
	  {
		background: #4bc9e5;
	  }
	}
	.Green
	{
	  .arrow-top-line, .arrow-bottom-line
	  {
		background: #47b616;
	  }
	}
	.Orange
	{
	  .arrow-top-line, .arrow-bottom-line
	  {
		background: #ff7d00;
	  }
	}

  	#next-slide
  	{
  	  left: auto;
  	  right: 0px;

  	  .arrow-top-line, .arrow-bottom-line
	  {
	    transform: rotate(45deg);
	  }
	  .arrow-bottom-line
	  {
	  	transform: rotate(-45deg);
	  }
  	}
  }

  #slider
  {
  	width: 720px;
  	margin: 0px auto;
  	overflow: hidden;
	padding: 34px 1px; 	
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
  }
  #slide-list
  {
  	transition: 0.5s;
  	width: 10000px;
  	position: relative;
  	letter-spacing: -5px;
  	cursor: move;
  }
  .slide-wrap
  {
  	display: inline-block;
  	vertical-align: top;
  	letter-spacing: 0px;
  	margin: 0px 10px 0px 0px;
  }
  .slide
  {
  	width: 720px;
  	display: flex;
  	display: -webkit-flex;
  	@include justify-content(flex-start);
  	@include align-content(flex-start);
  	@include align-items(center);
  }
  .slide-image
  {
  	@include flex-shrink(0);
  	width: 350px;
  	height: 350px;
  	border-radius: 50%;
  	background: #ffffff;
  	box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
  	padding: 7px;
  	overflow: hidden;
  	margin-right: 30px;

  	img
  	{
  		border-radius: 50%;
  		width: 100%;
  		height: 100%;
  		object-fit: cover;
  	}
  }
  .slide-content
  {
  	.Blue
	{
	  color: #2870c4;
	}

	.LightBlue
	{
	  color: #4bc9e5;
	}

	.Green
	{
	  color: #47b616;
	}

	.Orange
	{
	  color: #ff7d00;
	}

	span
	{
		font-family: Verdana;
		font-size: 24px;
		margin-bottom: 10px;
		display: block;
	}

	p
	{
		line-height: 18px;
		font-size: 13px;
	}
  }
